<nav class=" navbar navbar-expand navbar-light bg-light ">

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/landing/posts']">Posts </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/landing/new-post']">New Post</a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
  
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
  